<h1>Listing students</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Appat</th>
    <th>Apmat</th>
    <th>Direccio</th>
    <th>Telefono1</th>
    <th>Telefono2</th>
    <th>Telefono3</th>
    <th>Fecha nac</th>
    <th>Estatus</th>
    <th>Tipo pago</th>
    <th>Tipo clase</th>
    <th>Rfc fis</th>
    <th>Tel fis</th>
    <th>Instrumento</th>
    <th>Comentario</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.nombre %></td>
    <td><%= student.appat %></td>
    <td><%= student.apmat %></td>
    <td><%= student.direccio %></td>
    <td><%= student.telefono1 %></td>
    <td><%= student.telefono2 %></td>
    <td><%= student.telefono3 %></td>
    <td><%= student.fecha_nac %></td>
    <td><%= student.estatus %></td>
    <td><%= student.tipo_pago %></td>
    <td><%= student.tipo_clase %></td>
    <td><%= student.rfc_fis %></td>
    <td><%= student.tel_fis %></td>
    <td><%= student.instrumento %></td>
    <td><%= student.comentario %></td>
    <td><%= student.user_id %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
