<% o =  [('a'..'z'),('A'..'Z')].map{|i| i.to_a}.flatten  
   string  =  (0..8).map{ o[rand(o.length)]  }.join
%>


<%= form_for @student, :html => {:multipart => true}  do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :appat %><br />
    <%= f.text_field :appat %>
  </div>
  <div class="field">
    <%= f.label :apmat %><br />
    <%= f.text_field :apmat %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, :class=>"btn btn-file", :accept => 'image/png,image/gif,image/jpeg' %>
  </div>
<%= f.fields_for :user do |ef| %>

<div class="control-group">
    <%= ef.label :Matricula, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :username %>
  </div> 
</div> 

<div class="control-group">
    <%= ef.label :email, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :email %>
<%= ef.hidden_field :rol , :value =>"Student"  %>
<%= ef.hidden_field :password, :value => string %>
<%= ef.hidden_field :password_confirmation, :value => string %>
<%- end %>
<%= f.text_field :email2 %>

</div>

</div>

  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono1 %><br />
    <%= f.text_field :telefono1 %>
  </div>
  <div class="field">
    <%= f.label :telefono2 %><br />
    <%= f.text_field :telefono2 %>
  </div>
  <div class="field">
    <%= f.label :telefono3 %><br />
    <%= f.text_field :telefono3 %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br />
    <%= f.date_select :fecha_nac, :start_year => 1950 %>
  </div>
 <div class="field">
    <%= f.label :estatus %><br />
	<select id="estatus" name="estatus">
	  <option value="1">ACTIVO</option>
	  <option value="0">BAJA</option>
	  <option value="0">BLOQUEADO</option>
	</select>
  </div>
  <div class="field">
    <%= f.label :tipo_de_pago %><br />
    <%= select("student", "payment_id", PaymentType.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
  <div class="field">
    <%= f.label :tipo_de_clase %><br />
	<select id="tipo_clase" name="tipo_clase" onchange="unhide(this.options[this.selectedIndex].value)">
	  <option value="0">CLASE</option>
	  <option value="1">DIPLOMADO</option>
	  <option value="2">CARRERA</option>
	</select>

  </div>
  <div class="field hide" aria-hidden="true" id="major-f">
    <%= f.label :carrera %><br />
    <%= select("student", "major_id", Major.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
  <div class="field hide" aria-hidden="true" id="minor-f">
    <%= f.label :area_menor%><br />
    <%= select("student", "minor_id", Minor.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
  <div class="field">
    <%= f.label :instrumento %><br />
    <%= f.text_field :instrumento %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario, :rows => 5, :cols => 25 %>
  </div>
  <div class="field">
    <%= f.label :postit %><br />
    <%= f.text_area :postit, :rows => 5, :cols => 25 %>
  </div>
  <div class="field">
    <%= f.label :fecha_pago %><br />
    <%= f.text_field :fecha_pago %>
  </div>
  <div class="field">
    <%= f.label :padret %><br />
    <%= f.text_field :padret, :class =>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :nom_fis %><br />
    <%= f.text_field :nom_fis %>
  </div>
  <div class="field">
    <%= f.label :rfc_fis %><br />
    <%= f.text_field :rfc_fis %>
  </div>
  <div class="field">
    <%= f.label :dir_fis %><br />
    <%= f.text_field :dir_fis %>
  </div>
  <div class="field">
    <%= f.label :tel_fis %><br />
    <%= f.text_field :tel_fis %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
  </div>
<% end %>
