<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :appat %><br />
    <%= f.text_field :appat %>
  </div>
  <div class="field">
    <%= f.label :apmat %><br />
    <%= f.text_field :apmat %>
  </div>
  <div class="field">
    <%= f.label :direccio %><br />
    <%= f.text_field :direccio %>
  </div>
  <div class="field">
    <%= f.label :telefono1 %><br />
    <%= f.text_field :telefono1 %>
  </div>
  <div class="field">
    <%= f.label :telefono2 %><br />
    <%= f.text_field :telefono2 %>
  </div>
  <div class="field">
    <%= f.label :telefono3 %><br />
    <%= f.text_field :telefono3 %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br />
    <%= f.date_select :fecha_nac %>
  </div>
  <div class="field">
    <%= f.label :estatus %><br />
    <%= f.number_field :estatus %>
  </div>
  <div class="field">
    <%= f.label :tipo_pago %><br />
    <%= f.number_field :tipo_pago %>
  </div>
  <div class="field">
    <%= f.label :tipo_clase %><br />
    <%= f.number_field :tipo_clase %>
  </div>
  <div class="field">
    <%= f.label :rfc_fis %><br />
    <%= f.text_field :rfc_fis %>
  </div>
  <div class="field">
    <%= f.label :tel_fis %><br />
    <%= f.text_field :tel_fis %>
  </div>
  <div class="field">
    <%= f.label :instrumento %><br />
    <%= f.text_field :instrumento %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br />
    <%= f.text_field :comentario %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
