<%= form_for(@superadmin) do |f| %>
  <% if @superadmin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@superadmin.errors.count, "error") %> prohibited this superadmin from being saved:</h2>

      <ul>
      <% @superadmin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br />
    <%= f.date_select :fecha_nac %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
