<%= form_for(@superadmin) do |f| %>
  <% if @superadmin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@superadmin.errors.count, "error") %> prohibited this superadmin from being saved:</h2>

      <ul>
      <% @superadmin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
<%= f.fields_for :user do |ef| %>
<div class="control-group">
    <%= ef.label :username, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :username %>
  </div>
<div class="control-group">
    <%= ef.label :password, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :password %>
</div>
<div class="control-group">
    <%= ef.label :password_confirmation, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :password_confirmation %>
</div>
<div class="control-group">
    <%= ef.label :email, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :email %>
</div>
<%= ef.hidden_field :rol , :value =>"SuperAdmin"  %>
</div>
<%- end %>

  <div class="field">
    <%= f.label :fecha_nac %><br />
    <%= f.date_select :fecha_nac, :start_year => 1950 %>
  </div>

  <div class="field">
    <%= f.label :fec_in %><br />
    <%= f.date_select :fec_in, :start_year => 1950 %>
  </div>
  <div class="field">
    <%= f.label :telefono1 %><br />
    <%= f.text_field :telefono1 %>
  </div>
  <div class="field">
    <%= f.label :telefono2 %><br />
    <%= f.text_field :telefono2 %>
  </div>
  <div class="field">
    <%= f.label :telefono3 %><br />
    <%= f.text_field :telefono3 %>
  </div>
 <div class="field">
    <%= f.label :estatus %><br />
	<select id="estatus" name="estatus">
	  <option value="1">ACTIVO</option>
	  <option value="0">BAJA</option>
	  <option value="0">BLOQUEADO</option>
	</select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
