<h1>Listing superadmins</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha nac</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @superadmins.each do |superadmin| %>
  <tr>
    <td><%= superadmin.nombre %></td>
    <td><%= superadmin.fecha_nac %></td>
    <td><%= link_to 'Show', superadmin %></td>
    <td><%= link_to 'Edit', edit_superadmin_path(superadmin) %></td>
    <td><%= link_to 'Destroy', superadmin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Superadmin', new_superadmin_path %>
