<h1>Administradores</h1>

<table class="table table-striped table-bordered table-condensed" style="table-layout:fixed;word-wrap:break-word;">
  <tr>
	<th style="text-align:center;">Nomina</th>
    <th style="text-align:center;">Nombre</th>
    <th></th>
    <th></th>
  </tr>

<% @superadmins.each do |superadmin| %>
  <tr>
	<td style="text-align:center;"><%= link_to superadmin.user.username, superadmin %></td>
    <td style="text-align:center;"><%= superadmin.nombre + " " + superadmin.appat + " " + superadmin.apmat %></td>
    <td width="75"><%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_superadmin_path(superadmin) %></td>
   <td width="87"><%= link_to '<i class="icon-trash icon-white"></i> Eliminar'.html_safe, superadmin, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="icon-pencil icon-white"></i> Agregar Administrador'.html_safe, new_superadmin_path, :class => 'btn btn-info' %>
