<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
	<select id="tipo" name="tipo">
	  <option value="0">-</option>
	  <option value="1">+</option>
	</select>  
	</div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    Obligatorio <%= f.check_box :obligatorio, {}, 1, 0 %> 
	Seguridad	<%= f.check_box :seguridad, {}, 1, 0 %>
	Modificable  <%= f.check_box :modificable, {}, 1, 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
