<script type='text/javascript'>

$().ready(function() {  
 $('#add-sel').click(function() {  
  return !$('#subject_id option:selected').remove().appendTo('#subjectchosen');  
 });  
 $('#remove-sel').click(function() {  
  return !$('#subjectchosen option:selected').remove().appendTo('#subject_id');  
 });  
});

$('#form-ajax').submit(function() {  
 $('#subjectchosen option').each(function(i) {  
  $(this).attr("selected", "selected");  
 });  
});

</script>
<div class="field">
    <%= label_tag :materia %><br />
	<%= select("subject", "id", @subjects.collect {|p| [ p.descripcion, p.id ] },{} , {:multiple => true, :size => 10} )%>
	<%= link_to("Add", "#", html_options = {:id => "add-sel"}) %>
</div>

<div class="field">
    <%= label_tag :materia %><br />
	<%= select_tag "subjectchosen","".html_safe, :multiple => true, :size => 10 %>
	<%= link_to("Remove", "#", html_options = {:id => "remove-sel"}) %>
	
</div>