<h1>Listing subjects</h1>

<table>
  <tr>
    <th>Clave</th>
    <th>Descripcion</th>
    <th>Matreq</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.clave %></td>
    <td><%= subject.descripcion %></td>
		<% n=subject.matreq.to_i
			if n==0 
		%>
			<td></td>
		<% else %>
			<td><%= Subject.find(n).clave %></td>
		<% end %>


    <td><%= link_to 'Show', subject %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subject', new_subject_path %>
