<%= form_tag({:action => 'inscribir'}, :id => 'form-ajax', :remote => true, :'data-update-target' => 'notice-update') do %>

<p id="notice-update"></p>

<div class="field">
    <%= label_tag :periodo %><br />
	<%= select("period", "id", @periods.collect {|p| [ p.descripcion, p.id ] })%>
</div>

<div class="field">
    <%= label_tag :student %><br />
	<%= select("student", "id", @students.collect {|p| [ p.nombre + " " + p.appat + " " + p.apmat, p.id ] },
 	{:include_blank => true}, {:onchange => "update_div(this.value, document.getElementById('period_id').value)"} )%>
</div>



<br />
<%= link_to 'Back', subjects_path %>

<div id="update-container">
	---
</div>

 <%= submit_tag 'Submit', :disable_with => 'Please wait...', :class => 'submit' %>

<% end -%>
