<p id="notice"><%= notice %></p>

<%= form_tag('/es/subjects/addtoperiod') do -%>
<div class="field">
    <%= label_tag :periodo %><br />
	<%= select("period", "id", @periods.collect {|p| [ p.descripcion, p.id ] } )%>
</div>
<div class="field">
    <%= label_tag :carrera %><br />
	<%= select("major", "id", @majors.collect {|p| [ p.descripcion, p.id ] } )%>
</div>
<div class="field">
    <%= label_tag :materia %><br />
	<%= select("subject", "id", @subjects.collect {|p| [ p.descripcion, p.id ] } )%>
</div>
<div class="field">
	<%= submit_tag "Guardar"%>
</div>
<% end -%>

<br />
<%= link_to 'Back', subjects_path %>
