<p id="notice"><%= notice %></p>

<p>
  <b>Clave:</b>
  <%= @subject.clave %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @subject.descripcion %>
</p>

<p>
  <b>Matreq:</b>
  <%= @subject.matreq %>
</p>

<br /><br />


<table>
<thead>
  <tr>
	<th style="text-align:center">Carrera</th>
    <th style="text-align:center">Tetra/Modulo</th>
    <th style="text-align:center">Orden</th>
  </tr>
</thead>
<tbody>
	<% @examples.each do |example| %>
	  <tr>
	    <td><%= Major.find(example.major_id).descripcion %></td>
	    <td><%= Tetramod.find(example.tetramod_id).descripcion  %></td>
		<td><%= example.orden_kardex  %></td>
	  </tr>
	<% end %>
</tbody>
</table>

<%= form_tag('/es/subjects/addtomajor') do -%>

<div class="field">
    <%= label_tag :carrera %><br />
	<%= select("major", "id", @majors.collect {|p| [ p.descripcion, p.id ] } )%>
</div>
<div class="field">
    <%= label_tag :tetramestre %><br />
	<%= select("tetra", "id", @tetras.collect {|p| [ p.descripcion, p.id ] } )%>
</div>
<div class="field">
    <%= label_tag :orden %><br />
	<%= text_field_tag 'orden' %>
</div>
<%= hidden_field_tag 'subject_id', @subject.id %>
<div class="field">
	<%= submit_tag "Guardar"%>	
</div>
<% end -%>

<br />
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
