<p id="notice"><%= notice %></p>

<p>
  <b>Apmat:</b>
  <%= @teacher.apmat %>
</p>

<p>
  <b>Appat:</b>
  <%= @teacher.appat %>
</p>

<p>
  <b>Comentario:</b>
  <%= @teacher.comentario %>
</p>

<p>
  <b>Direccion:</b>
  <%= @teacher.direccion %>
</p>

<p>
  <b>Fecha nac:</b>
  <%= @teacher.fecha_nac %>
</p>

<p>
  <b>Nombre:</b>
  <%= @teacher.nombre %>
</p>

<p>
  <b>Rfc fis:</b>
  <%= @teacher.rfc_fis %>
</p>

<p>
  <b>Tel fis:</b>
  <%= @teacher.tel_fis %>
</p>

<p>
  <b>Telefono1:</b>
  <%= @teacher.telefono1 %>
</p>

<p>
  <b>Telefono2:</b>
  <%= @teacher.telefono2 %>
</p>

<p>
  <b>Telefono3:</b>
  <%= @teacher.telefono3 %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
