<p id="notice"><%= notice %></p>

<p>
  <b>Apmat:</b>
  <%= @teacher.apmat %>
</p>

<p>
  <b>Appat:</b>
  <%= @teacher.appat %>
</p>


<p>
  <b>Direccion:</b>
  <%= @teacher.direccion %>
</p>

<p>
  <b>Fecha nac:</b>
  <%= @teacher.fecha_nac %>
</p>

<p>
  <b>Nombre:</b>
  <%= @teacher.nombre %>
</p>

<p>
  <b>Tel. Casa:</b>
  <%= @teacher.telefono1 %>
</p>

<p>
  <b>Tel. Celular:</b>
  <%= @teacher.telefono2 %>
</p>

<p>
  <b>Tel. Trabajo:</b>
  <%= @teacher.telefono3 %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
