<%= form_for(@mayor) do |f| %>
  <% if @mayor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mayor.errors.count, "error") %> prohibited this mayor from being saved:</h2>

      <ul>
      <% @mayor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
