<h1>Listing mayors</h1>

<table>
  <tr>
    <th>Clave</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mayors.each do |mayor| %>
  <tr>
    <td><%= mayor.clave %></td>
    <td><%= mayor.descripcion %></td>
    <td><%= link_to 'Show', mayor %></td>
    <td><%= link_to 'Edit', edit_mayor_path(mayor) %></td>
    <td><%= link_to 'Destroy', mayor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mayor', new_mayor_path %>
